body {
  text-align: center;
}

.input-group {
  margin: 25px;
}

.recharts-wrapper {
  margin: 0 auto;
}

.movie-search-container {
  display: flex;
  justify-content: space-around
}

.movie-search-box {
  padding: 5px;
}

.search-Box {
  padding-bottom: 25px;
}

.search-Bar {
  margin: auto;
  /* text-align: center; */
}